# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.log
*.pot

# =========================
# Entornos virtuales
# =========================
venv/
env/
.venv/

# =========================
# Django
# =========================
*.sqlite3
db.sqlite3
staticfiles/

# =========================
# Variables de entorno
# =========================
.env
.env.*
!.env.example

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Tests / Coverage
# =========================
.coverage
htmlcov/

# =========================
# Node / Frontend (si existe)
# =========================
node_modules/
